<<<<<<< HEAD
* {
  font-family: "Inter", sans-serif;
  font-family: bold;
  font-size: 32px;
  line-height: 150%;
}
body {
  background: rgb(203, 222, 243);
}
.main {
  display: flex;
  margin-left: 100px;
  margin-bottom: 50px;
}
.logo {
  padding-top: 40px;
  cursor: pointer;
}
textarea {
  resize: none;
  border-radius: 24px;
  border: none;
  color: #0a3871;
}
textarea::placeholder {
  color: #0a3871;
}
.texto-entrada {
  background: none;
  margin-top: 80px;
  padding: 50px;
  box-sizing: border-box;
}
.texto-entrada:focus {
  outline: 0; /*tirando contorno do textArea*/
}
.informacao {
  /*imagem do ponto de exclamação*/
  display: block;
  margin-top: 166px;
  font-size: 15px;
}
.botoes {
  display: flex;
  position: absolute;
  flex-direction: row;
  margin-top: 10px;
  border-radius: 24px;
  height: 67px;
  width: 328px;
  box-sizing: border-box;
  transition: 1s;
  cursor: pointer;
  text-decoration: none;
}
.botoes:hover {
  font-size: 35px;
}
#botaoCriptografar {
  background-color: #0a3871;
  color: white;
  padding: 5px 70px 0;
  box-sizing: border-box;
}
#botaoDesincriptografar {
  background: #d8dfe8;
  color: rgb(68, 66, 66);
  margin-left: 370px;
  padding: 5px 70px 0;
}

#resultado {
  margin-top: 20px;
  margin-left: 90px;
  text-align: center;
  padding: 50px 0px;
  box-sizing: border-box;
}

#resultado:placeholder-shown {
  background-image: url("assets/boneco.png");
  background-repeat: no-repeat;
  background-position: left;
}
#resultado:focus {
  outline: 0;
}
#botaoCopia {
  margin-left: 85px;
  margin-top: 43px;
  padding: 5px 120px 0;
  background: #d8dfe8;
  color: rgb(68, 66, 66);
  border: 1px solid #0a3871;
  cursor: pointer;
}

footer p {
  position: absolute;
  padding: 60px 90px;
  font-weight: bold;
  color: #494242;
}
/*imagem do gitHub*/
.github {
  position: absolute;
  padding: 40px 330px;
}
footer img {
  cursor: pointer;
}
=======
*{
    font-family: "Inter", sans-serif;
    font-family: bold;
    font-size: 32px;
    line-height: 150%;
}
body{
    background: rgb(203, 222, 243)
    
}
.main{
    display: flex;
    margin-left: 100px;
    margin-bottom: 50px;
}
.logo{
    padding-top: 40px;
    cursor: pointer;
}

textarea{
    resize: none;
    border-radius: 24px;
    border: none;
    color: #0A3871;
}
textarea::placeholder {
    color: #0A3871;
}
.texto-entrada{
   
    background: none;
    margin-top: 80px;
    padding: 50px;
    box-sizing: border-box;
}
.texto-entrada:focus{
    outline: 0; /*tirando contorno do textArea*/
}
.informacao{/*imagem do ponto de exclamação*/
    display: block;
    margin-top: 166px;
    font-size: 15px;
}
.botoes{
    display: flex;
    flex-direction: row;
    position: absolute;
    margin-top: 10px;
    border-radius: 24px;
    height: 67px;
    width: 328px;
    box-sizing: border-box;
    transition: 1s;
    cursor: pointer;
}
.botoes:hover{
    font-size: 35px;
}
#botaoCriptografar{
    background-color: #0A3871;
    color: white;
    padding: 5px 70px 0;
    box-sizing: border-box;
}
#botaoDesincriptografar{
    background: #D8DFE8;
    color: rgb(68, 66, 66);
    margin-left: 370px;
    padding: 5px 70px 0;
}
#resultado{
    
    margin-top: 20px;
    margin-left: 90px;
    text-align: center;
    padding: 50px 0px;
    box-sizing: border-box;
}
#resultado:placeholder-shown{
    
    background-image: url("imagens/boneco.png");
    background-repeat: no-repeat;
    background-position: left;
}
#resultado:focus{
    outline: 0;
}
#botaoCopia{
    
    margin-left: 85px;
    margin-top: 43px;
    padding: 5px 120px 0;
    background: #D8DFE8;
    color: rgb(68, 66, 66);
    border: 1px solid #0A3871;
    cursor: pointer;
}

footer p{
    position:absolute;
    padding: 60px 90px;
    font-weight: bold;
    color: #494242;
}
/*imagem do gitHub*/
.github{ 
    padding: 40px 330px;
}
footer img{
    cursor: pointer;
}



>>>>>>> b4ca3bafebbf7fc6ebffb554b349b0baee30a624
